*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background: linear-gradient(#2196f3,#e91e63);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.wrapper{
    position: relative;
    height: 500px;
    width: 400px;
}
@keyframes animateSignIn{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0) rotate(7deg);
    }
}
@keyframes animateRotate{
    0%{
        transform: rotate(7deg);
    }
    100%{
        transform: rotate(0);
        z-index: 1;

    }
}
.wrapper.animate-signIn .form-wrapper.signIn{
    animation: animateSignIn 1.5s ease-in-out forwards;
}
.wrapper.animate-signIn .form-wrapper.signUp{
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}
.wrapper.animate-signUp .form-wrapper.signIn{
    transform: rotate(7deg);
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}
.wrapper.animate-signUp .form-wrapper.signUp{
    animation: animateSignUp 1.5s ease-in-out forwards;
}
@keyframes animateSignUp{
    0%{
        transform: translateX(0);
        z-index: 1;
    }
    50%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0) rotate(7deg);
    }
}
.form-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 6px;
    overflow: hidden;
}
.input-group{
    position: relative;
    width: 320px;
    margin-top: 30px 0;
    margin-bottom: 20px;
}

h2{
    font-size: 30px;
    text-align: center;
    color: #555555;
    display: inline-block;
    margin-bottom: 30px;
}
.input-group label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    font-size: 16px;
    color: #333;
    padding: 0 5px;
    pointer-events: none;
    transition:  .5s all ;
}
.input-group input{
    width: 100%;
    height:40px ;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    background-color: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
}
.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
    font-size: 12px;
    background-color: #fff;

}
.forgot-pass{
    margin: -15px 0 15px;
}
.forgot-pass a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
.forgot-pass a:hover{
    text-decoration:underline;
}
.Btn{
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: 40px;
    background: linear-gradient(to right,#2196f3,#e91e63);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    font-size:16px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    outline: none;
}
.sign-link{
    font-size: 14px;
    margin: 25px 0;
}
.sign-link p{
    color: #333;
}
.sign-link a{
    color: #e91e63;
    text-decoration: none;
    font-weight: 600;
}
.sign-link a:hover{
    text-decoration:underline;
}
.signUp{
    transform: rotate(7deg);
}